<%= form_for(@scorecard) do |f| %>
  <% if @scorecard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scorecard.errors.count, "error") %> prohibited this scorecard from being saved:</h2>

      <ul>
      <% @scorecard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :batting_id %><br>
    <%= f.text_field :batting_id %>
  </div>
  <div class="field">
    <%= f.label :bowling_id %><br>
    <%= f.text_field :bowling_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
